.menu {
  width: 20%;
  margin-top: 15%;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  -webkit-box-shadow: 9px 11px 6px -7px rgba(20, 20, 21, 0.19);
  -moz-box-shadow: 9px 11px 6px -7px rgba(20, 20, 21, 0.19);
  box-shadow: 9px 11px 6px -7px rgba(20, 20, 21, 0.19);

  border-radius: 16px;
  background-color: rgba(216, 215, 215, 0.07);
  border: 1px solid rgba(216, 215, 215, 0.2);
}

.title {
  margin-bottom: 16px;
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.item {
  padding: 12px 16px;
  box-sizing: border-box;
}

.link {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.icon {
  margin-right: 8px;
}
